@model  VNStory.Web.Models.Story

@{
    ViewBag.Title = "chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h4>Chi tiết thể loại</h4>
    <hr />

    <div class="mb-3">
        <label class="form-label">@Html.DisplayNameFor(model => model.Name):</label>
    </div>
    <div class="mb-3">
        <label class="form-label">@Html.DisplayFor(model => model.Name)</label>
    </div>


    <div class="mb-3">
        <label class="form-label">@Html.DisplayNameFor(model => model.Source):</label>
    </div>
    <div class="mb-3">
        <label class="form-label">@Html.DisplayFor(model => model.Source)</label>
    </div>


    <div class="mb-3">
        <label class="form-label">@Html.DisplayNameFor(model => model.Description):</label>
    </div>
    <div class="mb-3">
        <label class="form-label">@Html.DisplayFor(model => model.Description)</label>
    </div>


    <div class="mb-3">
        <label class="form-label">@Html.DisplayNameFor(model => model.Views):</label>
    </div>
    <div class="mb-3">
        <label class="form-label">@Html.DisplayFor(model => model.Views)</label>
    </div>


    <div class="mb-3">
        <label class="form-label">@Html.DisplayNameFor(model => model.Status):</label>
    </div>
    <div class="mb-3">
        <label class="form-label">@Html.DisplayFor(model => model.Status)</label>
    </div>

    <div class="mb-3">
        <img src="@Model.ImageUrl" class="img-thumbnail" alt="@Model.Name" width="350" />
    </div>
    <div class="col-12">
        @Html.ActionLink("Chỉnh sửa", "Edit", "Category", routeValues: new { Area = "Admin", id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
        @Html.ActionLink("Trở lại", "Index", "Category", routeValues: new { Area = "Admin" }, htmlAttributes: new { @class = "btn btn-secondary" })
    </div>
</div>