@model  VNStory.Web.Models.Chapter
@{
    ViewBag.Title = "Chapter";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string storyName = ViewBag.StoryName;
    int storyId = ViewBag.StoryId;
}

<div class="container-fluid">
    @using (Html.BeginForm("Create", "Chapter", FormMethod.Post, new { role = "form", @class = "row" }))
    {
        @Html.AntiForgeryToken()

        <h4>Thêm chương cho truyện [@storyName]</h4>

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input type="hidden" name="StoryId" id="StoryId" value="@storyId"/>

        <div class="mb-3">
            @Html.LabelFor(model => model.NumberChapter, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.NumberChapter, new { htmlAttributes = new { @class = "form-control", placeholder = "Số chương", @autocomplete = "off" } })
            @Html.ValidationMessageFor(model => model.NumberChapter, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Tên chương", @autocomplete = "off" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "form-label" })
            @Html.TextAreaFor(model => model.Content, htmlAttributes: new { @class = "form-control", rows = "4" })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <input type="submit" value="Tạo nhóm" class="btn btn-primary" />
            @Html.ActionLink("Trở lại", "Index", "Chapter", new { storyId = storyId }, htmlAttributes: new { @class = "btn btn-secondary" })
        </div>
    }
</div>