@model  VNStory.Web.Models.Chapter
@{
    ViewBag.Title = "Chapter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @using (Html.BeginForm("Edit", "Roles", FormMethod.Post, new { role = "form", @class = "row" }))
    {
        @Html.AntiForgeryToken()

        <h4>Chỉnh sửa nhóm người dùng</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Id)

        <div class="mb-3">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Tên chương", @autocomplete = "off" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "form-label" })
            @Html.TextAreaFor(model => model.Content, htmlAttributes: new { @class = "form-control", rows = "4" })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.NumberChapter, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.NumberChapter, new { htmlAttributes = new { @class = "form-control", placeholder = "Số chương", @autocomplete = "off" } })
            @Html.ValidationMessageFor(model => model.NumberChapter, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.StoryId, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.StoryId, new { htmlAttributes = new { @class = "form-control", placeholder = "Mã truyện", @autocomplete = "off" } })
            @Html.ValidationMessageFor(model => model.StoryId, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Story.Name, htmlAttributes: new { @class = "form-label" })
            @Html.DropDownListFor(model => model.Story.Name, ViewBag.ListTrangThai as SelectList, htmlAttributes: new { @class = "form-select" })
        </div>

        <div class="mb-3">
            <input type="submit" value="Cập nhật" class="btn btn-primary" />
            @Html.ActionLink("Trở lại", "Index", "Chapter", routeValues: new { Area = "Admin" }, htmlAttributes: new { @class = "btn btn-secondary" })
        </div>
    }
</div>
