@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="dropdown text-end">
        <a href="#" class="btn btn-success text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <span>Hello @User.Identity.GetUserName()</span>
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
            <li>
                @Html.ActionLink("Đăng truyện mới", "NewStory", "Account", routeValues: new { Area = "" }, htmlAttributes: new { @class = "dropdown-item" })
            </li>
            <li>
                @Html.ActionLink("Truyện của bạn", "ListStory", "Account", routeValues: new { Area = "" }, htmlAttributes: new { @class = "dropdown-item" })
            </li>
            <li>
                @Html.ActionLink("Truyện yêu thích", "WishesStory", "Account", routeValues: new { Area = "" }, htmlAttributes: new { @class = "dropdown-item" })
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                @Html.ActionLink("Đổi mật khẩu", "ChangePassword", "Account", routeValues: new { Area = "" }, htmlAttributes: new { @class = "dropdown-item" })
            </li>
            <li>
                @Html.ActionLink("Thông tin cá nhân", "Info", "Account", routeValues: new { Area = "" }, htmlAttributes: new { @class = "dropdown-item" })
            </li>
            @if (User.IsInRole("Administrators") == true)
            {
                <li><hr class="dropdown-divider"></li>
                <!--
                <li>
                    @Html.ActionLink("External logins", "ManageLogins", "Account", routeValues: new { Area = "" }, htmlAttributes: new { @class = "dropdown-item" })
                </li>
                    -->
                <li>
                    @Html.ActionLink("Thành viên", "Index", "Users", routeValues: new { Area = "Admin" }, htmlAttributes: new { @class = "dropdown-item" })
                </li>
                <li>
                    @Html.ActionLink("Nhóm thành viên", "Index", "Roles", routeValues: new { Area = "Admin" }, htmlAttributes: new { @class = "dropdown-item" })
                </li>
                <li>
                    @Html.ActionLink("Thể loại truyện", "Index", "Category", routeValues: new { Area = "Admin" }, htmlAttributes: new { @class = "dropdown-item" })
                </li>
                <li>
                    @Html.ActionLink("Danh sách truyện", "Index", "Story", routeValues: new { Area = "Admin" }, htmlAttributes: new { @class = "dropdown-item" })
                </li>
            }
            <li><hr class="dropdown-divider"></li>
            <li>
                @using (Html.BeginForm("LogOff", "Account", routeValues: new { Area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item">Log off</a>
                }
            </li>
        </ul>
    </div>
}
else
{
    <div class="text-end">
        @Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: new { Area = "" }, htmlAttributes: new { @class = "btn btn-success" })
        @Html.ActionLink("Đăng ký", "Register", "Account", routeValues: new { Area = "" }, htmlAttributes: new { @class = "btn btn-primary" })
    </div>
}
